# compiled output
projeto-care-back/dist
projeto-care-back/node_modules
projeto-care-back/build

# dotenv environment variable files
#.env
.env.development.local
.env.test.local
.env.production.local
.env.local

projeto-care-back/generated/prisma

# dependencies
projeto-care-front/node_modules
projeto-care-front/.pnp
projeto-care-front/.pnp.*

# next.js
projeto-care-front/.next/
projeto-care-front/out/

# production
projeto-care-front/build

# debug
projeto-care-front/npm-debug.log*

# env files (can opt-in for committing if needed)
#.env*

# vercel
projeto-care-front/.vercel

# typescript
projeto-care-front/next-env.d.ts
